/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2016, 7:45:57 PM
    Author     : Anto
*/

#paneRoot {
    -fx-background-image: url("../img/movement.gif");
    -fx-background-repeat: repeat;
}