/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2016, 6:35:43 PM
    Author     : Anto
*/
#gameover {
     -fx-background-image: url("/img/gameoverexplo.png");
     -fx-background-repeat: no-repeat;
}

#trophy {
    -fx-background-image: url("/img/gameoverfirst.png");
     -fx-background-repeat: no-repeat;
}

#congrat {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 30px;
    -fx-font-weight: bolder;
}

.button {
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ecb535, #936b0e);
}

.button:hover {
    -fx-background-color: linear-gradient(#f9e6ba, #ecb535);
}

#title {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 50px;
    -fx-font-weight: bolder;
}

#nameLabel {
   -fx-text-fill: whitesmoke;
   -fx-font-size: 20px; 
}